body{
    color: #a54328;
    background-image: url("../br.jpg");
    background-repeat: no-repeat;
    background-size: 1024px;
}
span{
    width: 100%;
}
.div0 {
    height: 800px;
    width: 1000px;
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
}
.div1 {
    text-align: justify;
    width: 35%;
    display: flex;
}
.div2{
    padding-left: 25%;
    margin-top: 15px;
    width: 45%;
    height: 50%;
}
.imgtopo{
    width: 40%;
}